@import "tailwindcss";

@source "../../src";

@theme {
  --color-background: #0B0F19;
  --color-foreground: #ededed;
}

:root {
  --background: #0B0F19;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}